@globalTextColor--darkTheme: #cecece;
@globalLinkColor-isHover--darkTheme: #def2f6;
@globalColorMediumGray: #999;
@globalColorDarkGray: #666;
@borderColor--darkTheme: #000;
@backgroundColor--darkTheme: #525252;

notification-center {
  position: fixed!important;
  right: 0;
  width: 500px;
  max-width: ~'calc(100% - 53px)';
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #6EADC1;
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
  z-index: 100;

  .kuiView{
    font-size: 14px;
  }

  .kuiHeaderBar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
    min-height: 30px;
  }

  .kuiSubTitle {
    font-size: 17px;
  }

  .kuiText {
    font-size: 14px;
  }

  .kuiMenuItem {
    list-style: none;;
    padding: 6px 0;
  }

  .kuiMenuItem + .kuiMenuItem {
    border-top: 1px solid #D9D9D9;
  }

  .kuiEvent {
    display: flex;
  }

  .kuiEventSymbol {
    flex: 0 1 auto;
    font-size: 14px;
    line-height: 1.5;
    padding-right: 8px;
  }

  .kuiEventBody {
    flex: 1 1 0%;
  }

  .kuiEventBody__metadata {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
  }

  .kuiEventBody__message {
    display: flex;
    justify-content: space-between;
    p:last-child {
      margin: 0;
    };
  };

  .notification-stack {
    &:last-child {
      padding-bottom: 0;
    };

    pre {
      margin: 0;
    };
  };

  .theme-dark+&.support-dark-theme {
    background-color: @backgroundColor--darkTheme;
    border-color: @borderColor--darkTheme;
    color: @globalTextColor--darkTheme;
    
    .kuiView {
      background-color: @backgroundColor--darkTheme;
      border-color: @borderColor--darkTheme;
    }

    .kuiHeaderBar {
      border-color: @globalColorDarkGray;
    }

    .kuiMenuItem {
      border-color: @globalColorDarkGray;
    }

    .kuiMenuButton--basic {
      background-color: @backgroundColor--darkTheme;
      color: @globalTextColor--darkTheme;

      &:hover {
        color: #fff!important;
      }
    }

    .kuiEventBody__message {
      color: @globalTextColor--darkTheme;
    }

    .kuiEventBody__metadata {
      color: @globalColorMediumGray;
    }

    .well {
      background-color: @globalColorDarkGray;
      color: @globalTextColor--darkTheme;
    }
  }
};